.jumbotron {
  min-height: 300px;
  padding-top: 75px;
  color:blue;
  font-family: 'Spectral SC', serif;
}

a {
	color: grey;
  font-family: 'Spectral SC', serif;
}

.background-image {
  background-image: url('jumbotron.jpg');
  opacity: .8;
}

body {
  background-color: #79BD9A;
  font-family: 'Spectral SC', serif;  
}

.locationTextbox {
   padding: 0px 8px;
}